        .bg-custom-green {
            background-color: #05A93D !important;
        }

        .text-custom-green {
            color: #05A93D !important;
        }

        .text2-custom-orange {
            color: #F67C01 ! important;
        }