        body {
            font-family: myFont !important;
        }

        .bg-custom-green {
            background-color: #05A93D !important;
        }

        .text-custom-green {
            color: #05A93D !important;
        }

        .text2-custom-orange {
            color: #F67C01 ! important;
        }


        .navbar-light .navbar-nav .nav-link {
            color: rgb(0 0 0) !important;
        }



        .navbar-nav .nav-item .nav-link.active {

            color: #05A93D !important;

        }

        hr {
            border-color: #ffffff;
        }


        /* index_page */



        .introduction {
            background: url('/images/backgroung.png') center/cover no-repeat;
            height: 416px;
        }

        .introduction p {
            color: #777;
        }


        .first_card .image {
            width: 86px;
            height: 86px;



        }

        .first_card h3 {
            font-family: myFont1;
            font-size: 21px;
            color: black;

        }

        .first_card p {
            font-family: myFont;
            font-size: 17px;
            color: #777777;

        }

        .trainingsection h3 {
            font-family: myFont2;
            font-size: 43px;
        }

        .trainingsection h5 {
            font-family: myFont1;
            font-size: 18px;
        }

        .trainingsection p {
            font-family: myFont;
            font-size: 17px;
            color: #777777;
        }

        .card .card-body {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-top: 0px !important;
        }

        .modulebtn {
            width: 100px;
            height: 30px;
            color: #ffffff;
            background-color: #05A93D;
        }

        .card .card-title {
            padding-top: 16px;
            text-align: left;

        }

        .card-body p {
            text-align: left;
            font-family: myFont;
            font-size: 15px;
            color: #777777;
        }


        .about .container {
            max-width: 1079px;
        }

        .contact .container {
            max-width: 1079px !important;
        }

        .first_card {
            border-radius: 10px;
        }

        .first_card .shadow {
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) !important;

        }

        .second_card .shadow {
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) !important;
        }


        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0px solid rgba(0, 0, 0, 0) !important;
            border-radius: 10px !important;
        }

        .card_button {
            text-align: left;
            font-family: myFont1;
            color: #05A93D;
            font-size: 17px;

        }

        .trainingsection {
            background-color: #EFFAF6;
        }

        .about h2 {
            font-family: myFont2;
            font-size: 43px;
            color: #05A93D;
        }

        .about p {
            font-family: myFont;
            font-size: 16px;
            color: #777777;
        }

        .contact h2 {
            font-family: myFont2;
            font-size: 43px;
            padding-bottom: 10px;

        }

        .contact {
            background-color: #F2FBF8;
        }

        .details {
            font-family: myFont3;
            font-size: 16px;
            color: #898989;
        }

        .details.first_name {
            background-color: #F2FBF8;

        }

        .responsive-heading {
            font-family: myFont2;
            font-size: 48px;
        }



        /* About_style */


        .emergents_second .container {
            max-width: 1200px !important;
            max-height: 1380px !important;


        }

        .contentsecond .container {
            max-width: 1200px !important;
            max-height: 1387px !important;
        }

        .contentsecond p {
            font-family: myfont;
            font-size: 16px;
            color: #777777;
        }




        .emergents_second .second_card {
            width: 283px;
            height: 250px;
        }

        .emergents_second img {
            width: 54.1px !important;
            height: 54.1px !important;
            padding-left: 10px !important;
        }

        .emergents_second h3 {
            font-family: myfont1;
            font-size: 18px;
        }

        .emergents_second p {
            font-family: myfont;
            font-size: 13px;
            color: #777;
        }


        .paragraph1 .container {
            max-width: 1200px;
            max-height: 1380px;
        }

        .paragraph1 p {
            color: #777777;
        }

        .paragraph1 h4 {
            font-family: myFont1;
            color: #000;
        }

        .content-module .container {
            max-width: 1200px;
            max-height: 2808px;
            background: url('/images/module_bg.png') center/cover no-repeat;
            height: 400px;
        }

        .description .mod {
            width: 100px;
            height: 30px;
            color: #ffffff;
            background-color: #05A93D;
            text-align: center;

        }

        .description .container {
            max-width: 1200px !important;
            max-height: 2808px;
            padding-left: 0% !important;
            padding-right: 0px !important;
        }

        .description h3 {
            padding-top: 20px;
            font-family: myFont1;
            font-size: 36px;
        }

        .description .paragraph {
            font-size: 15px;
            color: #777777;
        }




        .description2 .container {
            max-width: 1200px !important;
            max-height: 2808px;
            padding-right: 0%;
            padding-left: 0%;
        }

        .description2 .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgb(202, 218, 212) !important;
            border-radius: 10px !important;
            margin-bottom: 20px
        }

        .description2 h5 {
            font-family: myFont1;
            font-size: 23px;

        }

        .description2 p {
            font-family: myFont;
            font-size: 18px;
            color: #555555;
        }

        .description2 ul {
            font-family: myFont;
            font-size: 15px;
            color: #555555;
        }




        .othercards {
            background-color: #EFFAF6;
        }

        .othercards .container {
            max-width: 1200px !important;
            box-sizing: border-box;
        }

        .othercards .modcard {
            max-width: 580px !important;
            max-height: 525px !important;
        }

        .othercards .card-img-top {
            max-width: 580px;
            max-height: 342px;
        }

        .othercards .body-card {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            padding-top: 0px !important;
        }


        .othercards .modulehead {
            width: 100px;
            height: 30px;
            color: #ffffff;
            background-color: #05A93D;
            text-align: center;
        }

        .othercards .card-title {
            font-family: myFont1;
            font-size: 25px;
        }




        /* contact us */



        .contact-content {
            background: url('/images/about_bg.png') center/cover no-repeat;
            height: 400px;
            padding-bottom: 30px;
        }

        .information .container {
            max-width: 1191px;
            gap: 168px;
        }

        .information .details {
            /* max-width: 353px;
        max-height: 293px; */
            align-items: center;
            color: #777;
        }

        .information .filling {
            /* max-width: 670px;
        max-height: 445px; */
            align-items: center;
            color: #777;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .information .details h5 {
            color: #000;
            font-family: myFont2;
            font-size: 25px;
        }

        .information .details p {
            font-size: 15px;
        }

        .information .details .list-unstyled {
            font-size: 15px;

        }

        .map-container {
            position: relative;
            width: 100%;
            height: 432px;
        }

        .map-container {
            position: relative;
            width: 100%;
            height: 434px;
        }

        .map-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 434px;
            border: 0;
        }

        @font-face {
            font-family: myFont;
            src: url(/myFont/Gilroy-Medium.ttf);
        }

        @font-face {
            font-family: myFont1;
            src: url(/myFont/Gilroy-SemiBold.ttf);
        }

        @font-face {
            font-family: myFont2;
            src: url(/myFont/Gilroy-Bold.ttf);
        }

        @font-face {
            font-family: myFont3;
            src: url(/myFont/Roboto-Regular.ttf);
        }













        @media (min-width:450px) and (max-width: 600px) {

            .introduction h1 {
                font-size: 25px;
            }

            .introduction p {
                font-size: 13px;
            }

            .introduction button {
                font-size: 13px;
                padding: 8px 20px;
            }

            .container-fluid {
                max-width: 850px;
            }

            .introduction {
                background: url('/images/backgroung.png') center no-repeat;

            }

            .emergents .container {
                max-width: 300px;
            }

            .module_cards {
                justify-content: center;
            }

            .trainingsection .container {
                max-width: 400px;
            }

            .about .container {
                max-width: 400px;
            }

            .about .buttton {
                padding-left: 4;
                align-items: center;
            }

            .contact h2 {
                text-align: center;
            }

            .content-module .container {
                max-width: 400px;

            }

            .description .container {
                max-width: 400px !important;
            }

            .description h3 {
                font-size: 20px;
            }

            .description p {
                font-size: 12px;
            }

            .description2 h5 {
                font-size: 15px;
            }

            .description2 p {
                font-size: 13px;
            }

            .description2 ul {
                font-size: 12px;
            }




            .description2 .container {
                max-width: 400px !important;

            }

            .othercards .container {
                max-width: 300px;
                flex-wrap: wrap;
                justify-content: center;
            }

            .othercards .modcard {
                max-width: 350px !important;
                max-height: 300px !important;
            }

            .othercards .card-img-top {
                max-width: 350px;
                max-height: 300px;
            }

            .othercards .body-card {
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                padding-top: 0px !important;
            }


            .othercards .modulehead {
                width: 75px;
                height: 20px;
                color: #ffffff;
                background-color: #05A93D;
                text-align: center;
            }

            .othercards .card-title {
                font-family: myFont1;
                font-size: 10px;
            }



        }





        @media (min-width: 600px) and (max-width: 768px) {
            header .container {
                max-width: 700px !important;
            }

            header .navbar {
                max-width: 601px;
            }

            .introduction h1 {
                font-size: 25px;
            }

            .introduction p {
                font-size: 13px;
            }

            .introduction button {
                font-size: 13px;
                padding: 8px 20px;
            }

            .container-fluid {
                max-width: 900px !important;
            }

            .introduction {
                background: url('/images/backgroung.png') center no-repeat;

            }

            .emergents .container {
                max-width: 300px !important;
            }

            .module_cards {
                justify-content: center;
            }

            .trainingsection .container {
                max-width: 400px;
            }

            .emergents_second .container {
                max-width: 300px !important;


            }

            .contentsecond .container {
                max-width: 500px !important;
                max-height: 1387px !important;
            }


            .about .container {
                max-width:300 px;
            }

            .about .buttton {
                padding-left: 4;
                align-items: center;
            }

            .contact h2 {
                text-align: center;
            }

            .content-module .container {
                max-width: 400px;

            }


            .paragraph1 .container{
                max-width:500px ;
            }

            .description .container {
                max-width: 400px !important;
            }

            .description h3 {
                font-size: 20px;
            }

            .description p {
                font-size: 12px;
            }

            .description2 h5 {
                font-size: 15px;
            }

            .description2 p {
                font-size: 13px;
            }

            .description2 ul {
                font-size: 12px;
            }




            .description2 .container {
                max-width: 400px !important;

            }

            .othercards .container {
                max-width: 300px;
                flex-wrap: wrap;
                justify-content: center;
            }

            .othercards .modcard {
                max-width: 350px !important;
                max-height: 300px !important;
            }

            .othercards .card-img-top {
                max-width: 350px;
                max-height: 300px;
            }

            .othercards .body-card {
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                padding-top: 0px !important;
            }


            .othercards .modulehead {
                width: 75px;
                height: 20px;
                color: #ffffff;
                background-color: #05A93D;
                text-align: center;
            }

            .othercards .card-title {
                font-family: myFont1;
                font-size: 10px;
            }
        }

        @media(min-width:769) and (max-width: 992px) {
             header .container {
                max-width: 700px !important;
            }


            .introduction h1 {
                font-size: 30px;
            }

            .introduction p {
                font-size: 15px;
            }

            .introduction button {
                font-size: 13px;
                padding: 8px 20px;
            }

            .container-fluid {
                max-width: 900px !important;
            }

            .introduction {
                background: url('/images/backgroung.png') center no-repeat;

            }

            .trainingsection .container {
                max-width: 400px;
            }

            .emergents_second .container {
                max-width: 300px !important;



            }
            
            .contentsecond .container {
                max-width: 500px !important;
                max-height: 1387px !important;
            }


            .about .container {
                max-width:300 px;
            }

            .about .buttton {
                padding-left: 4;
                align-items: center;
            }

            .contact h2 {
                text-align: center;
            }

            .content-module .container {
                max-width: 400px;

            }


            .paragraph1 .container{
                max-width:500px ;
            }

            .description .container {
                max-width: 400px !important;
            }

            .description h3 {
                font-size: 20px;
            }

            .description p {
                font-size: 12px;
            }

            .description2 h5 {
                font-size: 15px;
            }

            .description2 p {
                font-size: 13px;
            }

            .description2 ul {
                font-size: 12px;
            }




            .description2 .container {
                max-width: 400px !important;

            }

            .othercards .container {
                max-width: 300px;

            }

            .othercards .modcard {
                max-width: 300px !important;
                max-height: 400px !important;
            }

            .othercards img {
                max-width: 300px !important;
                max-height: 200px !important;
            }

            .othercards .body-card {
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 5px;
                padding-top: 0px !important;
            }


            .othercards .modulehead {
                width: 75px;
                height: 20px;
                color: #ffffff;
                background-color: #05A93D;
                text-align: center;
            }

            .othercards .card-title {
                font-family: myFont1;
                font-size: 10px;
            }
        }
          
    